
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/SysAdmin/Views/Shared/_AdminLayout.cshtml";
}
@model  WebProject.Data.ORM.Entity.Page
   
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">Sayfa Ekle</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form action="/SysAdmin/Page/Add" role="form" method="post" enctype="multipart/form-data" >
                    <div class="form-group">
                        <label for="Name" >Sayfa Başlığı</label>
                        <input name="Name" class="form-control" required="" type="text" placeholder="Sayfa Adı">
                    </div>
                    <div class="form-group">
                        <label>Sayfa Resmi</label>
                        <div>
                            <input class="form-control" id="image" name="image" type="file">                            
                        </div>                        
                    </div>                    
                    <div class="form-group">
                        <label for="Explanation" >Açıklama</label>
                        <textarea name="Explanation" placeholder="Açıklama" cols="30" rows="6" class="form-control"></textarea>
                    </div>               
                    
                    <div class="m-t-20 text-center">
                        <button class="btn btn-primary submit-btn">Ekle</button>
                    </div>
                </form>
            </div>
        </div>
    

