
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/SysAdmin/Views/Shared/_AdminLayout.cshtml";
}

@model WebProject.Data.ORM.Entity.Catalog
<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <h4 class="page-title">Katalog Ekleme</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <form action="/SysAdmin/Catalog/Add" role="form" enctype="multipart/form-data" method="post">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-control-file">
                        <label>Katalog Resmi <span class="text-danger">*</span></label>
                        <input id="image" name="image" required=""  class="form-control" type="file">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Katalog Adı <span class="text-danger">*</span></label>
                        <input name="Name" required="" class="form-control" type="text">
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Açıklama</label>
                        <input name="Explanation" required="" class="form-control" type="text">
                    </div>
                </div>
                @*<div class="col-sm-6">
            <div class="form-group">
                <label>Adres <span class="text-danger">*</span></label>
                <input name="ImageUrl" required="" class="form-control" type="text">
            </div>
        </div>*@

            </div>
            <div class="m-t-20 text-center">
                <button class="btn btn-primary submit-btn">Ekle</button>
            </div>
        </form>
    </div>
</div>

