
@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/SysAdmin/Views/Shared/_AdminLayout.cshtml";
}
@model WebProject.UI.Areas.SysAdmin.Models.DTO.PhotoCategoryDTO
<div class="row">
    <div class="col-sm-7 col-6">
        <h4 class="page-title">Fotoğraf Kategorisi Görüntüle</h4>
    </div>
</div>
<div class="card-box profile-header">
    <div class="row">
        <div class="col-md-12">
            <div class="profile-view">                
                <div class="profile-basic">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="profile-info-left">
                                <h3 class="user-name m-t-0 mb-0">@Model.Name</h3>
                                <input name="ID" value="@Model.ID" style="visibility:hidden" />
                                <div class="staff-msg"><a href="/SysAdmin/PhotoCategory/Update/@Model.ID" class="btn btn-primary">Düzenle</a></div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <ul class="personal-info">
                                <li>
                                    <span class="title">Açıklama:</span>
                                    <span class="text"><a href="">@Model.Explanation</a></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

