
@{
    ViewBag.Title = "List";
    Layout = "~/Areas/SysAdmin/Views/Shared/_AdminLayout.cshtml";
}
@model WebProject.UI.Areas.SysAdmin.Models.VM.VideoVM

    <div class="row">
        <div class="col-md-8">
            <div class="blog-view">
                @foreach (var vid in Model.Videos)
                {//
                    <h5>@vid.Name</h5>
                    <video width="640" height="480" controls>
                        <source src="@Url.Content(vid.Url)" type="video/mp4">
                        <source src="@Url.Content(vid.Url)" type="video/ogg">
                        Tarayıcınız bu özelliği desteklemiyor.
                    </video>                    
                }

            </div>
        </div>
        <aside class="col-md-4">            
            <div class="widget category-widget">
                <h5>Video kategorileri</h5>
                <ul class="categories">
                    @foreach (var cat in Model.Categories)
                    {
                        <li><a href="/SysAdmin/Video/ListByCategory/@cat.ID"><i class="fa fa-long-arrow-right"></i>@cat.Name</a></li>
                    }
                </ul>
            </div>
        </aside>
    </div>


